@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  width: 100%;
}

/* section {
  padding: 0 120px;
} */

/* ---------- USO COMUM ---------- */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin-top: 60px;
  width: 350px;
  height: 60px;
  border-radius: 30px;
  background-color: #9864c0;
  border: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.54px;
  text-align: center;
  transition: all 225ms;
}

button:hover {
  background-color: #613385;
}

/* --------------- CABEÇALHO E HOME - GABRIEL - INICIO -------------  */

#header-introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background-color: #ffeab6;
}

#logo {
  margin-left: 120px;
  width: 200px;
}

#nav-menu {
  display: flex;
  margin-right: 120px;
  /* align-items: flex-end; */
  justify-content: flex-end;
  /* background-color: red; */
  font-family: "Raleway", sans-serif;
}

#nav-menu a {
  color: #8f5a75;
  text-decoration: none;
}

#ul-menu {
  display: flex;
  gap: 46px;
  list-style: none;
}

#home {
  display: flex;
  justify-content: space-around;
  height: 683px;
  width: 100%;
  background-color: #ffeab6;
  background-image: url("../assets/images/home-ellipse.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 0 120px;
}

#home h1 {
  margin-top: 50px;
  font-weight: 600;
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 1.44px;
  width: 437px;
}

#introduction-text-box {
  background-image: url("../assets/images/introduction-text-box-ellipse.png");
  background-repeat: no-repeat;
}

#introduction-text-box > p {
  margin-top: 30px;
  color: #686868;
  font-family: "Lora";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 175% */
  letter-spacing: 0.6px;
  width: 451px;
}

#introduction-image-box {
  background-image: url("../assets/images/introduction-image-box-ellipse.png");
  background-repeat: no-repeat;
  background-position: 100% 15%;
  position: relative;
}

.image-box-description-title {
  color: #111;
  text-align: center;
  font-family: Lora;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.51px;
}

.image-box-description-subtitle {
  color: #8b8b8b;
  text-align: center;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.42px;
}

.image-box-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 250px;
  height: 105px;
  border-radius: 25px;
  position: absolute;
  bottom: 25%;
  gap: 5px;
}

/* #home button {
  margin-top: 60px;
  width: 336px;
  height: 60px;
  border-radius: 30px;
  background-color: #9864c0;
  border: 30px;
  cursor: pointer;
} */

/* #home button:hover {
  filter: opacity(0.5);
  transition: 1.5s ease;
} */

#home button > p {
  color: #fff;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 35px; /* 194.444% */
  letter-spacing: 0.54px;
  text-align: center;
}
/* ------------------- CABEÇALHO E HOME - GABRIEL - FIM ----------- */

/* -------- SERVIÇOS - GABRIEL - INICIO ------- */
#services {
  /* display: flex; */
  width: 1440px;
  height: 1348px;
}

.services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-title h1 {
  width: 516px;
  color: #020202;
  text-align: center;
  font-family: Lora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 175% */
  letter-spacing: 1.2px;
}

.services-title p {
  width: 607px;
  height: 107px;
  color: #686868;
  text-align: center;
  font-family: Lora;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 175% */
  letter-spacing: 0.6px;
  margin-bottom: 74px;
}

.services-cards-box {
  padding: 24px 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-cards {
  padding: 53px 0px 45px 25px;
  margin-bottom: 74px;
  width: 350px;
  height: 360px;
  border-radius: 25px 80px;
  border: 8px solid #bfedf3;
  background: #fff;
}

.services-cards h3 {
  margin-top: 24px;
  width: 280px;
  height: 57px;
  color: #212121;
  font-family: Lora;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.66px;
  text-align: left;
}

.services-cards p {
  margin-bottom: 62px;
  width: 280px;
  height: 86px;
  color: #777;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.services-title-box p {
  width: 607px;
  color: #686868;
  text-align: center;
  font-family: "Lora";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 175% */
  letter-spacing: 0.6px;
}

#services button {
  margin: 0 auto;
  display: block;
}
/* -------- SERVIÇOS - GABRIEL - FIM ------- */

/* -------------- VIDEO E ABOUT - RAQUEL -------------- */

/* ----- ABOUT - INÍCIO (RAQUEL) ----- */

#video {
  display: grid;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  margin: 8rem 0;
}

#video > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  column-gap: 3.87rem;
  padding: 1rem 2rem 1rem;
}

#video > div .content {
  text-align: center;
  width: 60%;
}
#video > div #videos {
  text-align: center;
  width: 40%;
}

#video > div .content h2 {
  color: #020202;
  font-family: Lora;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.075rem;
  margin-bottom: 3rem;
}

#video > div .content p {
  color: #686868;
  font-family: Lora;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0375rem;
  margin-bottom: 1rem;
}

#video > div .content button {
  margin-top: 60px;
  width: 336px;
  height: 60px;
  border-radius: 30px;
  background-color: #9864c0;
  border: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.54px;
  text-align: center;
}

#video > div #videos {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video > div #videos .btn-video {
  background: white;
  color: black;
  outline: none;
  border: grey solid 1px;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 50px;
  height: 50px;
}

#my-video {
  width: 25rem;
  height: 45rem;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

#my-video.vjs-fullscreen video {
  width: 100% !important;
}

#video > div #videos video {
  width: 25rem;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

#video .container {
  display: flex;
  justify-content: center;
}

/* #video .container video {
  z-index: -2;
} */

#video button i {
  color: grey;
  font-size: 30px;
}

#video #right-btn,
#video #left-btn {
  margin: auto 0;
}

/* ----- VIDEO - FIM (RAQUEL) ----- */

/* ----- ABOUT - INÍCIO (RAQUEL) ----- */

#about > div {
  display: grid;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    #fff3d7 8.33%,
    #fff1ce 93.23%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

#about div .strokes {
  overflow: hidden;
}

#about div .strokes img {
  width: 100vw;
  height: 80px;
}

#about div .strokes img:nth-of-type(2) {
  margin-top: -70px;
}

#about .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  column-gap: 3.87rem;
  padding: 1rem 2rem 1rem;
}

#about .content #info {
  width: 36.625rem;
  flex-shrink: 0;
}

#about .content #info h2 {
  color: #020202;
  font-family: Lora;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.075rem;
  margin-bottom: 3rem;
}

#about .content #info p {
  color: #686868;
  font-family: Lora;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0375rem;
}

#about .content #info button {
  margin-top: 60px;
  width: 336px;
  height: 60px;
  border-radius: 30px;
  background-color: #9864c0;
  border: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.54px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  #video {
    margin: 2rem;
  }

  #video > div {
    flex-direction: column;
    max-width: 940px;
    padding: 2rem;
    row-gap: 3.87rem;
  }

  #video > div .content {
    width: 100%;
  }

  #video > div .content h2 {
    font-size: 3rem;
    letter-spacing: 0.09rem;
  }

  #about > div {
    max-width: 940px;
  }
  
  #about div .strokes {
    max-width: 940px;
  }
  
  #about div .strokes img {
    width: 100%;
  }
  
  #about .content {
    flex-direction: column;
    max-width: 940px;
    row-gap: 3.87rem;
    padding: 1rem 4rem 1rem;
  }

  #about .content #image img{
    height: 40rem;
  }

  #about .content #info{
    width: 100%;
    display: grid;
    justify-items: center;
  }
}

@media screen and (max-width: 480px) {
  #video > div .content {
    max-width: 420px;
    padding: 2rem;
  }

  #video > div .content h2 {
    font-size: 2rem;
    letter-spacing: 0.01rem;
    line-height: 2rem;
  }

  #video > div .content p{
    line-height: 1.5rem;
  }

  #video > div .content button{
    height: 55px;
    width: 300px;
  }

  #about > div {
    max-width: 420px;
  }
  
  #about div .strokes {
    max-width: 420px;
  }
  
  #about div .strokes img {
    width: 100%;
  }
  
  #about .content {
    padding: 1rem 2rem 1rem;
  }

  #about .content #image {
    width: 100%;
    text-align: center;
  }

  #about .content #image img{
    width: 100%;
    height: auto;
  }

  #about .content #info h2{
    font-size: 2rem;
  }

  #about .content #info p{
    font-size: 1.1rem;
  }

  #about .content #info button{
    height: 55px;
    width: 300px;
  }
}


/* ----- ABOUT - FIM (RAQUEL) ----- */

/* ----- AVALIAÇÕES - INÍCIO (PIMENTEL) ----- */

.section-presentation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 35rem;
  margin-top: 4rem;
  flex-basis: 100%;
}

#appraisal {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  max-width: 1300px;
  flex-wrap: wrap;
}

.appraisal-carroussel {
  display: flex;
  height: 600px;
  align-items: center;
  margin: 0 2rem;
  column-gap: 2rem;
}

.carroussel-card {
  max-width: 400px;
}

.carroussel-card svg {
  display: flex;
}

.front-card {
  display: flex;
  margin-top: -355px;
  margin-left: 15px;
}

.card-pointer {
  margin-left: 55px;
  margin-top: -10px;
}

svg + p {
  color: #888888;
  font-family: Lora;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.875rem;
  display: flex;
  position: absolute;
  width: 18rem;
  margin-top: -325px;
  margin-left: 55px;
}

svg + span {
  display: block;
  color: #020202;
  font-family: Lora;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 6px;
}

/* ----- AVALIAÇÕES - FIM (PIMENTEL) ----- */

/* ----- CONTATO - INÍCIO (PIMENTEL) ----- */

#appraisal + .section-presentation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 30rem;
  flex-basis: 100%;
}

h2 {
  color: #020202;
  font-family: Lora;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  flex-basis: 100%;
}

h3 {
  width: 33rem;
  color: #686868;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

.contact-box {
  width: 100%;
  height: 900px;
  background: linear-gradient(180deg, #9864c0 0%, #5b2e7e 81.77%);
  display: flex;
  justify-content: center;
  margin-top: 14rem;
}

#contact {
  max-width: 1440px;
  display: flex;
  column-gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
  margin-top: -8rem;
  width: 16rem;
  height: 16rem;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 15px 3px rgba(77, 77, 77, 0.4);
}

.wpp-card {
  background-image: url("/assets/logo/social/whatsapp.png");
}

.insta-card {
  background-image: url("/assets/logo/social/instagram.png");
}

.tel-card {
  background-image: url("/assets/logo/social/phone.png");
}

.email-card {
  background-image: url("/assets/logo/social/email.png");
}

.wpp-card,
.insta-card,
.tel-card,
.email-card {
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 22%;
}

.contact-card p {
  color: #000;
  font-family: Lora;
  font-size: 1.3rem;
  font-weight: 800;
  padding: 0.9rem 0;
}

.contact-card .card-info {
  color: #8e8e8e;
  font-size: 1rem;
}

.formbox {
  display: flex;
  border-radius: 1.875rem;
  background: #fff;
  box-shadow: 0px 4px 40px 4px #5c2e7f;
  max-width: 35rem;
  height: 35rem;
  margin-right: 1.35rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 3rem 2.3rem;
  row-gap: 2.9rem;
}

.contact-form input,
.contact-form textarea {
  color: #8854af;
  font-family: Raleway;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  width: 25rem;
  height: 3rem;
  border-radius: 22px;
  border: 1px solid #9864c0;
  padding: 1rem 1.2rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaaaaa;
  font-weight: 500;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 2px solid #9864c0;
  background-color: #f4e8fd;
}

#msg {
  border-radius: 20px;
  height: 12rem;
  resize: none;
}

.contact-form input[type="submit"] {
  color: #fff;
  font-family: Raleway;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  width: 17rem;
  height: 3.3rem;
  border-radius: 40px;
  background: #9864c0;
  align-self: center;
  transition: all 150ms;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background: #613385;
}

#address {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 550px;
  height: 35rem;
  margin-left: 1.35rem;
}

#address p {
  color: #ededed;
  font-family: Raleway;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 800;
  text-decoration-line: underline;
  text-align: center;
}

address {
  color: #c8c8c8;
  font-family: Raleway;
  text-align: center;
  margin-top: -0.7rem;
  max-width: 350px;
  align-self: center;
}

iframe {
  border-radius: 10px;
  box-shadow: 0px 4px 40px 4px #5c2e7f;
}

/* ----- CONTATO - FINAL (PIMENTEL) ----- */

/* ----- FOOTER - INÍCIO (PIMENTEL) ----- */

footer {
  width: 100%;
  display: flex;
  background-color: #000;
  justify-content: center;
}

.footer-box {
  max-width: 1440px;
  display: flex;
  background-color: #000;
  padding: 5rem 7.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-topic {
  color: #fff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.1875rem;
  padding-bottom: 1.2rem;
}

.footer-default {
  color: #7a7a7a;
  font-family: Raleway;
  font-weight: 600;
  margin: 0.5rem 0;
  text-decoration: none;
  transition: all 150ms;
}

a[class="footer-default"]:hover {
  color: #c0c0c0;
}

.footer-default span {
  font-weight: 800;
}

.footer-column form {
  display: flex;
}

#email-sub {
  margin: 0.3rem 0;
  height: 60px;
  width: 25rem;
  padding: 0 1.3rem;
  border-radius: 40px;
  border: 2px solid #aaa;
  background: none;
  color: #7a7a7a;
  font-family: Raleway;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 150ms;
}

#email-sub:focus {
  outline: none;
  background-color: #1f1f1f;
}

footer input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: #aaa;
  position: absolute;
  height: 60px;
  padding: 0 1rem;
  margin: 0.3rem 18rem;
  margin-right: 7.5rem;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 150ms;
}

input[type="submit"]:hover {
  background-color: #eeeeee;
}

.footer-line {
  flex-basis: 100%;
  border-bottom: 1px solid #7a7a7a;
  padding-top: 4rem;
}

.footer-copyright {
  color: #7a7a7a;
  font-family: Raleway;
  font-size: 0.9rem;
  padding-top: 1.5rem;
}

.footer-social {
  display: flex;
  column-gap: 1rem;
  margin-top: 0.8rem;
}

.footer-social a img {
  width: 40px;
  height: 40px;
}

/* ----- FOOTER - FINAL (PIMENTEL) ----- */

.whatsapp-float {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.whatsapp-float img {
  min-width: 2rem;
}
